<div class="form-wrapper">
  <div class="form-area">
    <%= form_tag('/find_bicycle_stores', method: 'get') do |form| %>
      <div class="form-div form-grp-div-md">
        <div class="input-group">
          <%= label_tag(:geolocation, "Store Name:", class: "form-label") %><br>
          <%= text_field_tag(:geolocation, nil, class: "form-input") %>
        </div>
      </div>
      <div class="form-div form-grp-div-md">
        <div class="input-group">
          <%= submit_tag "Find Bicycle Store", class: "cancel-btn" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
