<div id="landing_info">
    <% if @user.fname || @user.lname != nil %>
        <h2>Welcome Back, <%= @user.fname %> <%= @user.lname %>!</h2>
        <p>Here's what's new:</p>
    <% end %>
</div>

<p id="shops_link" class="nav-item">Bike Shops</p>

<div id="shops_map"></div>
<div id="shops_info"></div>
