<h1>Local Weather</h1>

<div id="radar_container">
    <img src="<%= @wu_radar %>" alt="DC Radar">
</div>

<div id="hourly_forecast">
    <div id="time" class="hourly_data"></div>
    <div id="temp" class="hourly_data"></div>
    <div id="condition" class="hourly_data"></div>
    <div id="condition_icon" class="hourly_data"></div>
    <div id="feels_like" class="hourly_data"></div>
</div>
