<h1 class="header">Trails</h1>

<div class="form-wrapper">
  <% @trails.each do |trail| %>
    <div class="form-area trail-index">
      <div class="form-div">
      <%= link_to trail, trail, class: "trail-index-text"%>
        <% if current_admin != nil  %>
          <%= link_to 'Edit', edit_trail_path(trail.id) %>
          <%= link_to 'Delete', trail, method: :delete, data: { confirm: 'Are you sure?' } %><br>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
