#landing_info {
    padding-top: 50px;
    font-size: 30px;
    text-align: center;
    // text-shadow: 1px 1px blue;
}

#shops p {
    cursor: pointer;
    font-size: 15px;
    text-align: center;
}
