#radar-container {
    height: 300px;
    width: 300px;
    border: 1px;
    border-color: black;
    border-width: thick;
}

#shops_map {
    height: 300px;
    width: 300px;
    border: 1px;
    border-color: black;
    border-width: thick;
}

// #map_canvas {
//     height: 350px;
//     width: 500px;
//     margin: 0px;
//     padding: 0px;
//     overflow: visible;
// }
